
.text-gradient {
    background: linear-gradient(45deg, var(--color-primary), var(--color-tertiary), var(--color-tertiary));
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-hover {
    position: relative;
    overflow: hidden;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-gray-900);
        opacity: 0;
        transition: all 250ms;
    }
    &:hover {
        &::after {
            opacity: 0.10;
        }
    }
}
